@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 15% 96%;
    --light-blue: 217 100% 77%;
    --foreground: 221 39% 11%;
    --card: 0 0% 100%;
    --card-foreground: 221 39% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 221 39% 11%;
    --primary: 217 71% 53%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 16% 93%;
    --secondary-foreground: 221 39% 11%;
    --muted: 210 20% 65%;
    --muted-foreground: 221 18% 46%;
    --accent: 180 50% 50%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 217 71% 53%;
    --radius: 0.5rem;
    --color-muted-300: 210 10% 92%; /* Lightest */
    --color-muted-400: 210 15% 85%; /* Lighter */
    --color-muted-500: 210 20% 75%; /* Light */
    --color-muted-600: 210 25% 65%; /* Darker */
    --color-success: 122 39% 49%;
    --color-warning: 36 100% 50%;
    --color-info: 202 100% 60%;
    --color-error: 0 100% 60%;
  }

  .dark {
    --background: 280 7% 17%;
    --light-blue: 217 100% 77%;
    --foreground: 210 20% 98%;
    --card: 220 20% 20%;
    --card-foreground: 210 20% 98%;
    --popover: 220 20% 20%;
    --popover-foreground: 210 20% 98%;
    --primary: 217 71% 53%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 210 20% 80%;
    --accent: 180 50% 50%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 217 71% 53%;
    --color-muted-600: 210 10% 40%; /* Lightest */
    --color-muted-500: 280 5% 22%; /* Lighter */
    --color-muted-400: 210 20% 30%; /* Light */
    --color-muted-300: 210 25% 25%; /* Darker */
    --color-success: 122 39% 49%;
    --color-warning: 36 100% 50%;
    --color-info: 202 100% 60%;
    --color-error: 0 100% 60%;
    --orange: 20 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
